

body {
    font-family: garamond, serif;
    font-size: .9em;
    background-color: pink;
}

footer {
    font-family: 'Times New Roman', Times, serif, serif;
    font-size: 1em;
    font-style: italic;
}

