

@import "{{ site.theme }}";

header {
  display: none;
}

body {
    font-family: garamond, serif;
    font-size: .9em;
    background-color: pink;
}

footer {
    font-family: garamond, serif;
    font-size: 1em;
    font-style: italic;
}

