@font-face {
    font-family: Retro Gaming;
    src: url('Retro Gaming.ttf') format('truetype');
}
body {
    font-family: Retro Gaming;
    background-color: #FFEFF1;
}
nav {     
    font-family: ByteBounce;
    font-size: 45px;
    text-align: left;
}

.icon {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-right: 10px;
}

.icon2 {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    margin-right: 10px;
}
.welcome{
    background-image: url(background.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
#aboutme{
    font-family: 'Courier New', monospace;
    font-size: 15px;
    font-weight: bold;
}

h1{
    font-family: ByteBounce;
    font-size: 50px;
    font-weight: normal;
}

h2{
    font-family: Retro Gaming;
    font-size: 20px;
    font-weight: lighter;
}

h3{
    font-weight: lighter;
    font-size: 15px;
}

.recipe {
    font-family: 'Courier New', monospace;
    font-size: 15px;
    font-weight: bold;
}


.recipe-pic {
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 10px;
    filter: saturate(135%)
}


.recipe-pic-filter {
    width: 300px;
    height: auto;
    display: block;
    margin-bottom: 10px;
    filter: saturate(140%)
}

footer {
    font-family: 'Courier New', monospace;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background:-moz-linear-gradient(pink, gray);
    background:-webkit-linear-gradient(pink, gray);
    padding: 1px;
}

.footer-links {
    display:flex;
    justify-content: center;
    gap: 15px; 
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav a {
    font-family: 'Courier New', monospace;
    font-size: 15px;
    text-decoration: none;
    color: black;
}












